@mixin alignItem(){
    width: 100%;
    display: flex;
    align-items: center;
}

.card_informations{
    height: 60vh;
    min-width: 25vw;
    position: absolute;
    bottom: -15%;
    left: 70%;
    z-index: 100;

    backdrop-filter: blur(2px) ;
    -webkit-backdrop-filter: blur(2px) ;
    background-color: rgba(45, 45, 45, 0.409);
    border: 1px solid rgba(255, 255, 255, 0.125);
    .content{
        user-select: none;
        white-space: pre-wrap;
        font-size: 13px;
        padding-left: 1rem;
        transition: 1s;
        height: 100%;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        p{
            color: var(--pColor);
            transition: 1s;
        }

        .bodyOpenTag,.bodyCloseTag{
            color: var(--Red);
            transition: 1s;
        }

        .content_tags{
            display: flex;
            flex-direction: column;
            gap: 10px;

            .h1Tags, .h2Tags{
                @include alignItem();
                color: var(--Red);
            }
            .name,.title{
                transition: 1s;
            }
            .name{
                font-size: 1rem;
            }
            .title{
                font-size: 14px;
            }
           
        }
        .id{    
            @include alignItem();
            span{
                color: var(--spanColor);
            }
        }
        .kind{
            @include alignItem();
            span{
                color: var(--spanColor);
            }
        }

        .amounts{
            display: flex;
            flex-direction: column;
            gap: 10px;

            .numCourses , .numSteps{
                @include alignItem();
    
                span{
                    color: var(--spanColor);   
                }
            }
        }
      


    }
}
.card_profile:hover p{
    text-shadow:  #FFF 0px 0px 15px;
    color: var(--White);
}
.card_profile:hover {
    .bodyOpenTag, .bodyCloseTag, .h1Tags, .h2Tags{
        text-shadow:  var(--Red) 0px 0px 15px;
    }
    
}

@media (max-width:768px) {
    .card_informations{
        width: 100%;
        left: 60%;
        bottom: -30%;
    }
}
@media (max-width:425px) {
    .card_informations{
        width: 100%;
        left: 0%;
        bottom: -50%;
        .content_tags{
            .h1Tags{
                .name{
                    font-size: 14px;
                }
            }
            .h2Tags{
                .title{
                    font-size: 10px;
                }
            }
        }
    }
}