.card_informations{
    height: 60vh;
    min-width: 25vw;
    position: absolute;
    bottom: -15%;
    left: 70%;
    z-index: 100;

    backdrop-filter: blur(2px) ;
    -webkit-backdrop-filter: blur(2px) ;
    background-color: rgba(45, 45, 45, 0.409);
    border: 1px solid rgba(255, 255, 255, 0.125);
    .content{
        user-select: none;
        color: rgba(255, 255, 255, 0.375);
        white-space: pre-wrap;
        height: 100%;
        width: 60%;
        font-size: 13px;
        padding-left: 1rem;
        transition: 1s;
    }
}
.card_profile:hover .content{
    text-shadow:  #FFF 0px 0px 15px;
    color: var(--White);
}